* {
  padding: 0px;
  margin: 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  font-size: 15px;
  color: rgb(51, 51, 51);
  background-color: rgb(244, 244, 244);
}
#wrapper {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
.wrapper {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
/* .highlights {
  background-color: rgba(255, 255, 0, 0.5);
}
.highlights2 {
  background-color: rgba(255, 208, 0, 0.43);
} */
a {
  text-decoration: none;
}
li {
  list-style: none;
}

section#aboutus,
section#chooseUs {
  margin: 190px 0;
  padding: 80px 0;
}

/* Header Section*/

.shadow {
  position: fixed;
  top: 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(122, 118, 118, 0.494) 0px 0px 12px 0px;
  height: 80px;
  width: 100%;
}
header img.logo {
  height: 70px;
  line-height: 80px;
  margin: 9px;
  float: left;
}
header ul {
  padding: 0px;
  margin: 0px;
}
header ul li {
  font-size: 18px;
  line-height: 80px;
  float: left;
}
header ul li a {
  color: black;
  display: block;
  padding: 0px 20px;
  transition: all 0.3s ease 0s;
}
header ul li a:hover {
  font-weight: bolder;
  color: rgba(51, 51, 51, 0.714);
}
.header_inner {
  display: flex;
  justify-content: space-between;
}
header a:hover,
header a:focus {
  opacity: 0.7;
}
#showcase {
  background: linear-gradient(rgba(0, 0, 0, 0.416), rgba(0, 0, 0, 0.416)) 0% 0% /
      cover,
    url('imgs/shocase.jpg');
  width: 100%;
  min-height: 650px;
}
#showcase {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(51, 51, 51);
  color: white;
  text-align: center;
}
#showcase h6 {
  margin-top: 260px;
  margin-left: 28%;
  margin-right: 28%;
  font-size: 14px;
  justify-content: center;
  text-align: center;
}
#showcase h1 {
  margin-top: 20px;
  font-size: 37px;
  margin-bottom: 10px;
  line-height: 1.6em;
  justify-content: center;
}
#showcase p {
  margin-right: 30%;
  margin-left: 30%;
  font-size: 16px;
  justify-content: center;
}

/* Header Section end */

/* Services Section */

.services p {
  text-align: center;
  margin-top: 220px;
  margin-bottom: 50px;
  font-size: 18px;
}
#boxes {
  margin: 20px auto;
}
#boxes .box {
  display: inline-flex;
  float: left;
  height: 50px;
  color: rgb(80, 80, 80);
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
  margin: 20px;
  transition: all 0.1s ease 0s;
  padding: 10px;
  width: 27%;
  overflow: hidden;
  column-count: 3;
  align-items: center;
  justify-content: center;
}
.box .boxIcon i {
  width: 20%;
  text-align: center;
  transition: all 0.2s ease 0s;
  font-size: 27px;
  padding: 10px;
}

.boxIcon i:after {
  border-right: 1px solid rgba(43, 43, 43, 0.089);
}

.box h3 {
  width: 63%;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  line-height: 19px;
}

#boxes .box:hover .boxIcon i {
  color: rgba(0, 150, 219, 0.855);
  transform: scale(1.1);
}
#boxes .box:hover {
  box-shadow: rgba(26, 92, 168, 0.2) 0px 4px 8px 0px,
    rgba(26, 92, 168, 0.2) 0px 8px 20px 0px;
}

/* Services Section End */

/* About Section  */

#aboutus {
  display: flex;
  background: #ededed;
}

#aboutText {
  width: 50%;
  float: left;
}

article#aboutText p {
  width: 79%;
  font-size: 16px;
}

article#aboutText h1 {
  font-size: 32px;
  margin-bottom: 34px;
}

#aboutImg img {
  width: 524px;
  float: right;
}

/* About Section end */

/* Footer Section */

footer {
  color: black;
  height: 400px;
  width: 100%;
  font-size: 17px;
  line-height: 1.7em;
  background-color: rgba(208, 209, 212, 0.357);
}
footer p,
footer p a {
  color: rgb(85, 85, 85);
}
footer a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.46);
  color: black;
}
footer p:hover {
  color: black;
}
footer .cont {
  color: rgba(0, 0, 0, 0.824);
  margin-top: 30px;
  margin-bottom: 35px;
  padding-top: 10px;
  font-size: 16px;
  text-align: center;
}
#f-art {
  float: left;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}
#f-art h1 {
  margin-bottom: 10px;
}
#f-asd {
  float: right;
  width: 40%;
}
#e {
  margin-bottom: 30px;
}
footer span {
  display: flex;
  font-size: 12px;
  margin-top: 300px;
  margin-left: 40%;
  margin-right: 40%;
}

/* Footer section end */

::selection {
  background-color: rgb(0, 140, 255);
  color: white;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1.7s ease 0s;
}
.reveal.active {
  position: relative;
  transform: translateY(0px);
  opacity: 1;
}
@media (max-width: 1250px) {
  #boxes .box {
    padding: 20px 25px;
    width: 20%;
  }
}
@media (max-width: 1110px) {
  #boxes .box {
    padding: 20px 23px;
    width: 19%;
  }
}
@media (max-width: 980px) {
  header img.logo {
    height: 60px;
    line-height: 80px;
    margin: 11px;
  }
  header ul li {
    font-size: 15px;
    line-height: 80px;
  }
  #showcase h6 {
    margin-top: 240px;
    margin-left: 30%;
  }
  #boxes {
    padding-bottom: 10px;
  }
  #boxes .box {
    padding: 40px;
    margin-left: 30%;
    margin-right: 30%;
  }
  #boxes img,
  #boxes .box {
    height: 140px;
    width: 220px;
  }
  #boxes img:hover,
  #boxes .box:hover {
    height: 180px;
    width: 260px;
    padding: 20px;
  }
  #about {
    float: none;
    width: 100%;
  }
  #aside {
    float: none;
    width: 90%;
    margin-top: 100px;
  }
  #f-art {
    width: 38%;
  }
  #f-asd {
    width: 35%;
    font-size: 15px;
  }
  footer {
    font-size: 16px;
  }
}
@media (max-width: 647px) {
  .wrapper {
    width: 93%;
    margin: auto;
    overflow: hidden;
  }
  header img.logo {
    position: absolute;
    height: 50px;
    line-height: 70px;
    margin-top: 11px;
    margin-left: 30%;
    margin-right: 30%;
  }
  header ul li a {
    margin: 22px 0px;
    font-size: 14px;
  }
  header ul {
    position: absolute;
    left: 10%;
  }
  .shadow {
    height: 80px;
    width: 100%;
    padding-bottom: 5px;
  }
  #showcase p {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 16px;
    justify-content: center;
  }
  #showcase h6 {
    margin-top: 200px;
    margin-left: 25%;
  }
  #showcase h1 {
    font-size: 29px;
    margin-top: 10px;
  }
  #showcase p {
    font-size: 12px;
  }
  #showcase {
    min-height: 500px;
  }
  #boxes img {
    height: 90px;
    width: 150px;
    border-radius: 8px;
    transition: all 200ms ease 0s;
  }
  #boxes img:hover {
    height: 100px;
    width: 210px;
  }
  #boxes {
    margin-top: 20px;
    margin-left: 20px;
  }
  #boxes .box {
    float: left;
    padding: 20px 25px;
    width: 25%;
    text-align: center;
    color: rgb(51, 51, 51);
    margin-left: 90px;
    margin-bottom: 20px;
  }
  #about h1 {
    font-size: 25px;
  }
  #about p {
    font-size: 15px;
  }
  #about {
    float: none;
    width: 100%;
  }
  #aside h1 {
    font-size: 25px;
  }
  #asdie p {
    font-size: 15px;
  }
  #aside {
    float: none;
    width: 88%;
    justify-content: center;
  }
  #f-art {
    float: none;
    width: 90%;
    text-align: center;
  }
  #f-asd {
    float: none;
    width: 100%;
    text-align: center;
  }
  footer {
    font-size: 16px;
    height: 600px;
  }
  footer span {
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 200px;
    width: 100%;
  }
}
@media (max-width: 403px) {
  footer span {
    margin-top: 60px;
    margin-left: 130px;
    margin-right: 200px;
    width: 100%;
  }
}
